* {
    color: #343a40;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background: white;
    padding: 0.5%;
}

img {
    width: 75%;
}

#github {
    width: 10%;
    padding: 1.5%;
}

#searchButton {
    background-color: transparent;
    color: white;
    border: transparent;
}

#searchButton:hover {
    background-color: white;
    color: black;
}

#searchButton:checked {
    border: transparent;
}

#profile {
    padding-top: 2.5%;
}

#repo {
    padding-top: 2.5%;
}

#list {
    margin-top: 2.5%;
    font-weight: bold;
}

a:link {
    color: #343a40;
    text-decoration: none;
}
  
a:visited {
    color: #343a40;
    text-decoration: none;
}
  
a:hover {
    color: lightslategray;
    text-decoration: none;
}
  
a:active {
    color: #343a40;
    text-decoration: none;
}
  
